@font-face {
  font-family: 'Cursed Timer ULiL';
  font-style: normal;
  font-weight: 400;
  src: local('Cursed Timer ULiL'), url('https://fonts.cdnfonts.com/s/40642/CursedTimerUlil-Aznm.woff') format('woff');
}

.container {
  height: 385px;
  width: 575px;
  border-radius: 8px;
  background: #1B244A;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.wrapper {
  min-width: 175px;
}


.title-home,
.title-guest {
  font-family: 'Verdana';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 36px;
  text-align: center;
  color: #EEEEEE;
  margin-bottom: 20px;
}

h3 {
  margin: 0;
  padding: 0;
}

.score-home,
.score-guest {
  height: 120px;
  background: #080001;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 15px;
}

span {
  font-family: 'Cursed Timer ULiL';
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 127px;
  color: #F94F6D;
}

.add-points-btns-home,
.add-points-btns-guest {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: nowrap;
}

.plus {
  width: 45px;
  height: 40px;
  background-color: transparent;
  color: white;
  border-color: white;
  border-radius: 8px;
}